@import url(base.css);

h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}

img {
  border-radius: 12px;
}

article {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  max-width: 1000px;
}

span {
  margin-right: 8px;
}

.genre {
  display: inline-flex;
  align-items: center;
  background-color: #e8e1d5;
  padding: 5px 10px 3px 10px;
  border-radius: 999px;
  margin-bottom: 6px;
  margin-right: 4px;
  margin-top: 4px;
}

.movie-content {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.movie-content img {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  flex-shrink: 0;
}

.movie-info{
  flex: 1;
  margin-top: 16px;
}

.movie-info p {
  margin-top: 12px;
  margin-bottom: 12px;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}

.movie-info button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #e8e1d5;
  border: 1px solid #cfc6b8;
  border-radius: 6px;
  font-family: 'Josefin Sans', sans-serif;
}
